<html>
{% load staticfiles system %}
{% load permissions %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">#}
{#  <link rel="stylesheet" href="https://pingendo.github.io/templates/blank/theme.css" type="text/css"> </head>#}
{#    <script src="{% static "js/jquery_v1.11.1.js" %}"></script>#}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"> </head>
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> </head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="/">Syfy</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Página Inicial<span class="sr-only"><span style="white-space: normal;">Página I</span>(current)</span>
                    </a>
                </li>
                <li>
                    <div class="btn-group">
                        <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> Categorias</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/video/listar/1/">Ação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/video/listar/2/">Animação</a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/video/listar/3/">Aventura</a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/video/listar/5/">Comédia</a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/video/listar/12/">Drama</a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/video/listar/16/">Ficção Científica</a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/video/listar/20/">Romance</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </div>
                </li>



            </ul>

            <form class="form-inline my-2 my-lg-0" action="{% url 'busca' %}" method="POST">{% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>
        <ul class="navbar-nav mr-auto teste">
                 <li class="nav-item">
                    {% if user.is_authenticated %}
                         <div class="btn-group">
                        <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> Ações do Usuário</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'usuario-detail' user.id %}">Perfil</a>
                            {% if request.user|has_group:"administrador" %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'video-add' %}">Cadastrar vídeo</a>
                            {% endif %}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>


                        </div>
                    </div>
{#                    <a class="nav-link" href="{% url 'usuario-detail' user.id %}">Minha Conta</a>#}
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
                </ul>
    <a class="nav-link mx-auto" href="#"> </a>
</nav>


{% block main %}{% endblock %}
 </div>
<div class="py-5 text-center bg-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-center my-4">Categorias</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4" contenteditable="true">Relatar Bug</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4">Criar Lista</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4">Notificações</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>