{% extends 'app_syfy/base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}Home{% endblock %}
{% block main %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="">Dados Cadastrais</h3>
          <form class="w-100" method="post" action="{% url 'usuario-add' %}">
              {% csrf_token %}
              {{ form|bootstrap }}
{#                  <label>Nome</label>#}
{#                <input type="email" class="form-control" placeholder="Digite o nome completo"> </div>#}
{#              <div class="form-group"> <label>Endereço</label>#}
{#                <input type="password" class="form-control" placeholder="Digite o endereço"> </div>#}
{#              <div class="row">#}
{#                <div class="col-md-6">#}
{#                  <fieldset class="form-group"> <label for="CPF">CPF</label>#}
{#                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="000.000.000-00"> </fieldset>#}
{#                  <fieldset class="form-group"> <label for="Sinopse">Telefone Residencial</label>#}
{#                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="(00) 0000-0000"> </fieldset>#}
{#                  <div class="form-group"> <label>E-mail</label>#}
{#                    <input type="email" class="form-control" placeholder="Digite o e-mail"> </div>#}
{#                  <div class="form-group w-100"> <label>Lembrete de Senha</label> <select>#}
{#                  	<option disabled="" class="form-control" value="Selecione Algo">Selecione Algo</option>#}
{#                	</select> </div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                  <fieldset class="form-group"> <label for="Imagem Principal">Data de Nascimento</label>#}
{#                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="00/00/0000"> </fieldset>#}
{#                  <fieldset class="form-group"> <label for="Classificação">Telefone Celular</label>#}
{#                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="(00) 0 0000-0000"> </fieldset>#}
{#                  <div class="form-group"> <label>Senha</label>#}
{#                    <input type="email" class="form-control" placeholder="Digite a senha"> </div>#}
              <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary text-center">Voltar</a>

              <button type="submit" class="btn btn-success text-center float-right">Salvar</button>
              <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger text-center float-right">Cancelar</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

{% endblock %}