{% extends 'app_syfy/base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}Home{% endblock %}
{% block main %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


          <form class="w-100" role="form" method="post" action="{% url 'video-add' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|bootstrap }}
{#              <div class="col-md-12">#}
{#                <h3>Cadastro de Filme</h3>#}
{#              </div>#}
{##}
{#              <div class="form-group">#}
{#                  {{ form.titulo|bootstrap}}#}
{#              </div>#}
{#              <div class="form-group">#}
{#                  {{ form.elenco|bootstrap}}#}
{#              </div>#}
{#              <div class="form-group text-left w-100">#}
{#                  {{ form.diretor|bootstrap}}#}
{#              </div>#}
{#              <div class="row">#}
{#                <div class="col-md-6">#}
{#                  <fieldset class="form-group">#}
{#                      {{ form.duracao|bootstrap}}#}
{#                  </fieldset>#}
{#                    <fieldset class="form-group">#}
{#                      {{ form.arquivo|bootstrap}}#}
{#                    </fieldset>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                  <fieldset class="form-group">#}
{#                      {{ form.imagem|bootstrap}}#}
{#                  </fieldset>#}
{#                  <fieldset class="form-group">#}
{#                        {{ form.classificacao|bootstrap}}#}
{#                  </fieldset>#}
{#                </div>#}
{#              </div>#}

              <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary text-center">Voltar</a>
              <button type="submit" class="btn btn-success float-right text-justify">Salvar</button>
              <a href="{% url 'home'%}" class="btn btn-danger text-center float-right">Cancelar</a>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
{% endblock %}