{% extends 'app_syfy/base.html' %}
{% load staticfiles %}
{% block title %}Visualizar Vídeo{% endblock %}
{% block main %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-inverse">
          <div class="py-5 text-center bg-inverse">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 bg-inverse">
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="/media/{{ object.arquivo }}" allowfullscreen=""> </iframe>
{#                        <video class="embed-responsive-item" src="/media/{{ object.arquivo }}" allowfullscreen=""> </video>#}
                         <video  controls>
                          <source src="/media/{{ object.arquivo }}" type="video/mp4">

                        </video>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12"> </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Ficha técnica</h3>
              </div>
              <div class="col-md-12">
                <h4> {{ object.titulo }} </h4>
                <p class="lead">Diretor: {{ object.diretor.all|join:",  " }}</p>
                <p class="lead">Atores: {{ object.elenco.all|join:",  " }}</p>
{#                <p class="lead">Produtor: {% for produtor in object.elenco.all %}{{ ator.nome }}{% endfor %}</p>#}
                <p class="lead">Sinopse: {{ object.descricao }}</p>
                <p class="lead">Duração: {{ object.duracao |date:"H : i "}} h </p>
                <p class="lead">Classificação indicativa: {% if object.classificacao.classificacao == 0 %}Livre{% else %}
                                                {{ object.classificacao }}{% endif %}</p>
                <p class="lead">Gênero:{{ video.genero.all|join:",  " }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
