{% extends 'app_syfy/base.html' %}
{% load staticfiles %}
{% block title %}Visualizar Vídeo{% endblock %}
{% block main %}

    <div class="container">

        {% if messages %}
            <div class="row">
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-success" id="mensagem" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        <strong>{{ message }}!</strong>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12 bg-inverse">
                <div class="py-5 text-center bg-inverse">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12 bg-inverse">


                                        <h3>
                                            {{ object.titulo }}</h3>
                                        <div class="embed-responsive embed-responsive-4by3">
                                            {% if object.youtube %}
                                                <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/{{ object.youtube }}"
                                                        frameborder="0" allowfullscree ></iframe>
                                            {% elif object.arquivo or object.arquivogv %}

                                                <video controls>
                                                    <source src="/media/{{ object.arquivo }}"
                                                            type="video/mp4">
                                                    <source src="/media/{{ object.arquivoogv }}"
                                                            type="video/ogv">

                                                </video>


                                            {% else %}
                                                <stroge>Vídeo indisponível!</stroge>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Ficha técnica</h3>
                            </div>
                            <div class="col-md-12">
                                <h4> {{ object.titulo }} </h4>
                                <p class="lead">Diretor: {{ object.diretor.all|join:",  " }}</p>
                                <p class="lead">Atores: {{ object.elenco.all|join:",  " }}</p>
                                {#                <p class="lead">Produtor: {% for produtor in object.elenco.all %}{{ ator.nome }}{% endfor %}</p>#}
                                <p class="lead">Sinopse: {{ object.descricao }}</p>
                                <p class="lead">Duração: {{ object.duracao |date:"H : i " }} h </p>
                                <p class="lead">Classificação indicativa:
                                    {% if object.classificacao.classificacao == 0 %}Livre{% else %}
                                        {{ object.classificacao }}{% endif %}</p>
                                <p class="lead">Gênero: {% for genero in video.genero.all %}
                                    <a href="{% url 'video-genero-list' genero.id %}"
                                       class="label label-default"> {{ genero }} </a>

                                {% endfor %}
                                    {#                                    {{ video.genero.all|join:",  " }} #}
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary text-center">Voltar</a>
        </div>

    {##}
    {##}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{% endblock %}
