<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.github.io/templates/blank/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="container">
      <a class="navbar-brand" href="#">Syfy</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Página Inicial<span class="sr-only"><span style="white-space: normal;">Página I</span>(current)</span>
            </a>
          </li>
          <li>
            <div class="btn-group">
              <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> Categorias </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <a class="nav-link mx-auto" href="#"> </a>
  </nav>
  <div class="py-5"></div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form class="w-100">
            <div class="col-md-12">
              <div class="form-group w-100">
                <h3 class="">Cadastro de Filme</h3><label>Titulo Filme</label>
                <input type="email" class="form-control" placeholder="Titulo Filme"> </div>
              <div class="form-group"> <label>Principais Autores</label>
                <input type="password" class="form-control" placeholder="Principias Autores"> </div>
              <div class="form-group text-left w-100"> <label>Produtores</label>
                <input type="password" class="form-control text-left" placeholder="Produtores"> </div>
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group"> <label for="Duracao">Duracao</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="00:00 00 h"> </fieldset>
                  <fieldset class="form-group"> <label for="Sinopse">Sinopse</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Sinopse"> </fieldset>
                  <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
                <div class="col-md-6">
                  <fieldset class="form-group"> <label for="Imagem Principal">Imgem Principal</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="url://"> </fieldset>
                  <fieldset class="form-group"> <label for="Classificação">Classificação</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ação"> </fieldset>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h4 class="text-center my-4">Categorias</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4" contenteditable="true">Relatar Bug</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4">Criar Lista</h4>
            </div>
            <div class="col-md-3">
              <h4 class="text-center py-4">Notificações</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>